# บทที่ 10. ทูเพิล (`tuple`)
- ตำรา: Python: ใคร ๆ ก็เขียนโปรแกรมได้
- ผู้แต่ง: รศ.ดร. ประเสริฐ คณาวัฒนไชย

## การสร้าง tuple

In [2]:
box_size = (5, 10, 4)
print(f'box_size[0] = {box_size[0]}')  # ผลลัพธ์: 5
print(f'box_size[1] = {box_size[1]}')  # ผลลัพธ์: 10
print(f'box_size[2] = {box_size[2]}')  # ผลลัพธ์: 4

vol = box_size[0] * box_size[1] * box_size[2]
print(f'box volume = {vol}')

box_size[0] = 5
box_size[1] = 10
box_size[2] = 4
box volume = 200

## การ `unpacking tuple`

In [3]:
box_size = (5, 10, 4) 
width, height, depth = box_size # unpacking box_size into width, height, depth
print(f'width = {width}')
print(f'height = {height}')
print(f'depth = {depth}')
vol = width * height * depth
print(f'box volume = {vol}')

width = 5
height = 10
depth = 4
box volume = 200

## การเก็บข้อมูลแบบต่าง ๆ

In [4]:
product_infos = ('X17 running shoes', 4000, True) # product name, price, in stock?
print(f"product_infos[0] = {product_infos[0]}")  # ผลลัพธ์: X17 running shoes
print(f"product_infos[1] = {product_infos[1]}")  # ผลลัพธ์: 4000
print(f"product_infos[2] = {product_infos[2]}")  # ผลลัพธ์: True

product_infos[0] = X17 running shoes
product_infos[1] = 4000
product_infos[2] = True

## การสร้าง `tuple` ที่เก็บข้อมูลเป็น `tuple`

In [5]:
day_of_week_color = (
    ("Monday", "yellow"),
    ("Tuesday", "pink"),
    ("Wednesday", "green"),
    ("Thursday", "orange"),
    ("Friday", "blue"),
    ("Saturday", "purple"),
    ("Sunday", "red"),
)

print(f"day_of_week_color[2] = {day_of_week_color[2]}")
print(f"day_of_week_color[2][0] = {day_of_week_color[2][0]}")
print(f"day_of_week_color[2][1] = {day_of_week_color[2][1]}")

day_of_week_color[2] = ('Wednesday', 'green')
day_of_week_color[2][0] = Wednesday
day_of_week_color[2][1] = green

## การสร้าง `tuple` ที่เก็บข้อมูลเป็น `list`

In [6]:
provinces = (
    ["สงขลา", {"abbr": {"th": "สข", "en": "SKA"}}],
    ["เชียงใหม่", {"abbr": {"th": "ชม", "en": "CMI"}}],
    ["ภูเก็ต", {"abbr": {"th": "ภก", "en": "PKT"}}],
    ["กระบี่", {"abbr": {"th": "กบ", "en": "KBI"}}]
) # 1️⃣

# การเข้าถึงข้อมูลใน `tuple`
for province, abbr in provinces: # 2️⃣
    print(f"จังหวัด: {province}")
    print(f"ตัวย่อ: {abbr}")
    print()

จังหวัด: สงขลา
ตัวย่อ: {'abbr': {'th': 'สข', 'en': 'SKA'}}

จังหวัด: เชียงใหม่
ตัวย่อ: {'abbr': {'th': 'ชม', 'en': 'CMI'}}

จังหวัด: ภูเก็ต
ตัวย่อ: {'abbr': {'th': 'ภก', 'en': 'PKT'}}

จังหวัด: กระบี่
ตัวย่อ: {'abbr': {'th': 'กบ', 'en': 'KBI'}}

## การเข้าถึงสมาชิกใน `tuple` ด้วยดัชนี

In [7]:
area_th = (2, 1, 60) # 2 ไร่ 1 งาน 60 ตารางวา
print(f"area_th[0] = {area_th[0]}")  # ผลลัพธ์: 2
print(f"area_th[1] = {area_th[1]}")  # ผลลัพธ์: 1
print(f"area_th[2] = {area_th[2]}")  # ผลลัพธ์: 60

total_area_sq_wah = (area_th[0] * 400) + (area_th[1] * 100) + area_th[2]
print(f"พื้นที่รวม {total_area_sq_wah} ตารางวา")

area_th[0] = 2
area_th[1] = 1
area_th[2] = 60
พื้นที่รวม 960 ตารางวา

## การทำ slicing

In [8]:
sales = (100, 150, 120, 90, 85, 120, 140, 190, 200, 205, 220, 240)

qtr1 = sales[:3]
print(f"qtr1 = {qtr1}")

qtr2 = sales[3:6]
print(f"qtr2 = {qtr2}")

qtr3 = sales[6:9]
print(f"qtr3 = {qtr3}")

qtr4 = sales[-3:] # qtr4 = sales[9:]
print(f"qtr4 = {qtr4}")

qtr1 = (100, 150, 120)
qtr2 = (90, 85, 120)
qtr3 = (140, 190, 200)
qtr4 = (205, 220, 240)

## การเข้าถึงสมาชิกด้วยลูป for

In [9]:
days_of_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
for day in days_of_week:
    print(day.upper())

MONDAY
TUESDAY
WEDNESDAY
THURSDAY
FRIDAY
SATURDAY
SUNDAY

## การใช้ `enumerate()` ร่วมกับลูป `for`

In [10]:
days_of_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
for i, day in enumerate(days_of_week):
    print(f'[{i}] {day.upper()}')

[0] MONDAY
[1] TUESDAY
[2] WEDNESDAY
[3] THURSDAY
[4] FRIDAY
[5] SATURDAY
[6] SUNDAY

## การเข้าถึงสมาชิกที่เป็น `tuple` ด้วยลูป `for`

In [11]:
day_of_week_color = (
    ("Monday", "yellow"),
    ("Tuesday", "pink"),
    ("Wednesday", "green"),
    ("Thursday", "orange"),
    ("Friday", "blue"),
    ("Saturday", "purple"),
    ("Sunday", "red"),
)
for day_name, day_color in day_of_week_color:
    print(f"day_name = {day_name}, day_color = {day_color}")

day_name = Monday, day_color = yellow
day_name = Tuesday, day_color = pink
day_name = Wednesday, day_color = green
day_name = Thursday, day_color = orange
day_name = Friday, day_color = blue
day_name = Saturday, day_color = purple
day_name = Sunday, day_color = red

## การใช้ `enumerate()` และลูป `for` เพื่อเข้าถึงสมาชิกที่เป็น `tuple`

In [12]:
day_of_week_color = (
    ("Monday", "yellow"),
    ("Tuesday", "pink"),
    ("Wednesday", "green"),
    ("Thursday", "orange"),
    ("Friday", "blue"),
    ("Saturday", "purple"),
    ("Sunday", "red"),
)
for i, day in enumerate(day_of_week_color):
    day_name, day_color = day
    print(f"[{i}] day_name = {day_name}, day_color = {day_color}")

[0] day_name = Monday, day_color = yellow
[1] day_name = Tuesday, day_color = pink
[2] day_name = Wednesday, day_color = green
[3] day_name = Thursday, day_color = orange
[4] day_name = Friday, day_color = blue
[5] day_name = Saturday, day_color = purple
[6] day_name = Sunday, day_color = red

## การเก็บและเข้าถึงข้อมูลลูกค้าและการสั่งซื้อ

In [13]:
# ข้อมูลลูกค้าและการสั่งซื้อเครื่องดื่มและขนมหวาน
customers = (
    ("แพร", "ชา", "2023-05-10", "15:30"),
    ("ไหม", "กาแฟ", "2023-05-11", "08:45"),
    ("แพร", "ขนมหวาน", "2023-05-12", "14:20"),
    ("พลอย", "ชา", "2023-05-12", "17:10"),
    ("แพร", "กาแฟ", "2023-05-13", "10:00"),
    ("ไหม", "ขนมหวาน", "2023-05-14", "16:40"),
)

customer_name = "แพร"
print(f"ประวัติการใช้บริการของ [{customer_name}]")
for data in customers:
    name, product, date, time = data
    if name == customer_name:
        print(f" - {product} {date} {time}")

ประวัติการใช้บริการของ [แพร]
 - ชา 2023-05-10 15:30
 - ขนมหวาน 2023-05-12 14:20
 - กาแฟ 2023-05-13 10:00

## การแปลง `tuple` ให้เป็น `list` เพื่อแก้ไขค่าภายใน

In [14]:
menus = ("ผัดกะเพรา", "ต้มยำกุ้ง", "แกงเขียวหวาน", "ข้าวผัด")
print(f"menus = {menus}")
list_menus = list(menus)
print(f"list_menus = {list_menus}")
list_menus[0] = "ข้าวกะเพราไก่"
list_menus.append("ปลาทอดน้ำปลา")
print(f"list_menus = {list_menus}")

menus = ('ผัดกะเพรา', 'ต้มยำกุ้ง', 'แกงเขียวหวาน', 'ข้าวผัด')
list_menus = ['ผัดกะเพรา', 'ต้มยำกุ้ง', 'แกงเขียวหวาน', 'ข้าวผัด']
list_menus = ['ข้าวกะเพราไก่', 'ต้มยำกุ้ง', 'แกงเขียวหวาน', 'ข้าวผัด', 'ปลาทอดน้ำปลา']

## การใช้ `tuple` เพื่อเก็บข้อมูลเมนูอาหารและราคาแยกเป็นขนาดเล็ก กลาง และใหญ่

In [15]:
menus = (
    ("ผัดกะเพรา", 40, 50, 60),
    ("ต้มยำกุ้ง", 80, 100, 120),
    ("แกงเขียวหวาน", 70, 90, 110),
    ("ข้าวผัด", 50, 70, 90),
)

print(f"list(menus) = {list(menus)}")  # สมาชิกภายในยังเป็น `tuple`
list_menus = [list(m) for m in menus] # ใช้ `list comprehension` แปลงสมาชิกทุกตัวใน `tuple` ให้เป็น list
print(f"list_menus = {list_menus}")

# ปรับราคาขึ้นเมนูละ 10%
for m in list_menus:
    for i in range(1, 4):
        m[i] = m[i] * 1.1
print(list_menus)

list(menus) = [('ผัดกะเพรา', 40, 50, 60), ('ต้มยำกุ้ง', 80, 100, 120), ('แกงเขียวหวาน', 70, 90, 110), ('ข้าวผัด', 50, 70, 90)]
list_menus = [['ผัดกะเพรา', 40, 50, 60], ['ต้มยำกุ้ง', 80, 100, 120], ['แกงเขียวหวาน', 70, 90, 110], ['ข้าวผัด', 50, 70, 90]]
[['ผัดกะเพรา', 44.0, 55.00000000000001, 66.0], ['ต้มยำกุ้ง', 88.0, 110.00000000000001, 132.0], ['แกงเขียวหวาน', 77.0, 99.00000000000001, 121.00000000000001], ['ข้าวผัด', 55.00000000000001, 77.0, 99.00000000000001]]

## การเรียงลำดับข้อมูลใน `tuple` ด้วย `sorted()`

In [16]:
sales = (100, 150, 120, 90, 85, 120, 140, 190, 200, 205, 220, 240)
sorted_sales_asc = sorted(sales)
sorted_sales_desc = sorted(sales, reverse=True)

print(type(sorted_sales_asc), sorted_sales_asc)
print(type(sorted_sales_desc), sorted_sales_desc)

print(f"top 3 sales    = {sorted_sales_desc[:3]}")
print(f"bottom 3 sales = {sorted_sales_desc[-3:]}")

<class 'list'> [85, 90, 100, 120, 120, 140, 150, 190, 200, 205, 220, 240]
<class 'list'> [240, 220, 205, 200, 190, 150, 140, 120, 120, 100, 90, 85]
top 3 sales    = [240, 220, 205]
bottom 3 sales = [100, 90, 85]

# แบบฝึกหัด

1. ออกแบบ `tuple` สำหรับเก็บสถานที่ท่องเที่ยวของประเทศไทยจำนวน 5 แห่ง พร้อมพิกัดทางภูมิศาสตร์ และพิมพ์ข้อมูลออกทางหน้าจอ

In [17]:
# สถานที่ท่องเที่ยวที่สำคัญของประเทศไทยพร้อมพิกัดทางภูมิศาสตร์
tourist_places = (
    ("กรุงเทพมหานคร", (13.7563, 100.5018)), # สถานที่, (latitude, longitude)
    ("เชียงใหม่", (18.7877, 98.9931)),
    ("ภูเก็ต", (7.8804, 98.3923)),
    ("กระบี่", (8.0863, 98.9063)),
    ("เกาะสมุย", (9.5357, 100.0576))
)

# การแสดงสถานที่ท่องเที่ยวและพิกัดทางภูมิศาสตร์
for place, coordinates in tourist_places:
    print(f"สถานที่ท่องเที่ยว: {place}")
    print(f"พิกัดทางภูมิศาสตร์: {coordinates}")
    lat, lon = coordinates # unpacking tuple
    print(f"พิกัดทางภูมิศาสตร์: ละติจูด = {lat}, ลองจิจูด = {lon}")
    print(f"https://www.google.com/maps?q={lat},{lon}")
    print(f"https://www.google.com/maps?q={place}")
    print()

สถานที่ท่องเที่ยว: กรุงเทพมหานคร
พิกัดทางภูมิศาสตร์: (13.7563, 100.5018)
พิกัดทางภูมิศาสตร์: ละติจูด = 13.7563, ลองจิจูด = 100.5018
https://www.google.com/maps?q=13.7563,100.5018
https://www.google.com/maps?q=กรุงเทพมหานคร

สถานที่ท่องเที่ยว: เชียงใหม่
พิกัดทางภูมิศาสตร์: (18.7877, 98.9931)
พิกัดทางภูมิศาสตร์: ละติจูด = 18.7877, ลองจิจูด = 98.9931
https://www.google.com/maps?q=18.7877,98.9931
https://www.google.com/maps?q=เชียงใหม่

สถานที่ท่องเที่ยว: ภูเก็ต
พิกัดทางภูมิศาสตร์: (7.8804, 98.3923)
พิกัดทางภูมิศาสตร์: ละติจูด = 7.8804, ลองจิจูด = 98.3923
https://www.google.com/maps?q=7.8804,98.3923
https://www.google.com/maps?q=ภูเก็ต

สถานที่ท่องเที่ยว: กระบี่
พิกัดทางภูมิศาสตร์: (8.0863, 98.9063)
พิกัดทางภูมิศาสตร์: ละติจูด = 8.0863, ลองจิจูด = 98.9063
https://www.google.com/maps?q=8.0863,98.9063
https://www.google.com/maps?q=กระบี่

สถานที่ท่องเที่ยว: เกาะสมุย
พิกัดทางภูมิศาสตร์: (9.5357, 100.0576)
พิกัดทางภูมิศาสตร์: ละติจูด = 9.5357, ลองจิจูด = 100.0576
https://www.google.com/maps?q=9.5357,100.0576
https://www.google.com/maps?q=เกาะสมุย

2. เขียนโปรแกรมเพื่อหาความชัน (slope) จากจุด 2 จุด
$$
slope = \frac{{y_2 - y_1}}{{x_2 - x_1}}
$$

In [18]:
x1, y1 = 5, 10
x2, y2 = 8, 2

slope = (y2 - y1) / (x2 - x1)
print(f'slope = {slope}')

slope = -2.6666666666666665

3. จากข้อมูลปุ๋ย NPK (Nitrogen-Phosphorus-Potassium) ที่ให้มา

|สูตรปุ๋ย NPK|
|---:|
|7-3-10|
|15-15-15|
|10-3-3|
|16-8-8|
|16-12-8|
|20-4-15|
|15-10-20|

ให้เก็บข้อมูลสูตรปุ๋ยด้วย `tuple` แล้วทำการแสดงเฉพาะสูตรปุ๋ยที่มีค่า Phosphorus > 10

In [19]:
npk_items = ('7-3-10', '15-15-15', '10-3-3', '16-8-8', '16-12-8', '20-4-15', '15-10-20')

for item in npk_items:
    n, p, k = item.split('-')
    if int(p) > 10:
        print(f"{n}-{p}-{k}")

15-15-15
16-12-8